@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap');

html,body{
   background-color: rgb(250, 247, 251);
   width: 1100px;
   margin: auto;
}
*{
   padding: 0;
   margin: 0;
   font-family: 'Comfortaa', cursive;
   font-weight: 300;
}

//home page styler
@import 'modules/home.scss';