//header style
@import 'header.scss';

.first{
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding-bottom: 3rem;
   .first-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1.5rem;
      width: 80%;
      h1{
         font-size: 2rem;
         font-weight: 500;

         span{
            font-weight: 500;
            color: #6C63FF;
         }
      }

      button{
         border: 1px solid #4842b7;
         width: 45%;
         height: 2.5rem;
         background-color: #6C63FF;
         color: white;
         display: flex;
         gap: .5rem;
         justify-content: center;
         align-items: center;
         border-radius: .2rem;

         .bx{
            color: #ffffff;
         }

         &:hover{
            cursor: pointer;
            background-color: #4842b7;
         }
      }
   }
   .img-first{
      height: 500px;
      display: flex;
      width: auto;
      justify-content: center;
      img{
         height: 100%;
      }
   }
}

.second{
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding-bottom: 3rem;
   grid-template-areas: 
   "h1 h1"
   "div1 div2";
}


